.hero{
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
}
.hero__box{
    width: 50%;
    height: 400px;
    flex-direction: column;
}
.hero__box img{
    max-width: 100%;
}
.cuu-bot{
    color: white;
    font-size: calc(2.375rem + 1.5vw);
}
@media(max-width:425px){
    .hero__box img{
        max-width: none;
        max-height: 70%;
    }
    .hero__box{
        width: 100%;
    }
    
}
/*************************** PRODUCTS *****************************/
.prod{
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}
.sub-titule{
    color: white;
    margin-bottom: 10px;
}
.prodBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 20px 0;
    overflow-x: scroll;
}
.prodCardsBox{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 40px;
}
.prodCards{
    width: 300px;
    padding: 10px;
    flex-direction: column;
    position: relative;
    opacity: 0;
    transition-property: opacity, left,right,top;
    transition-duration: 3s;
}
.prodCards--left{
    left: 100px;
}
.prodCards--Right{
    right: 100px;
}
.prodCards--top{
    top: -100px;
}
.prodCards img{
    max-width: 100%;
    border-radius: 50%;
}
.prodCardsTitule{
    color: white;
    text-align: center;
    margin-top: 15px;
}
.prodCardsText{
    color: white;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;
}
@media(max-width:768px){
    .prodCardsTitule{
        height: 92px;
    }
}
@media(max-width:425px){
    .prodCardsTitule{
        height: 60px;
    }
    .prodBox{
        justify-content: initial;
    }
    .prodCardsBox{
        width: 300%;
        gap: 0;
    }
    .prodCards--left{
        left: 0px;
    }
    .prodCards--Right{
        right: 0px;
    }
    .prodCards--top{
        top: 0px;
    }
}

/*************************** HAPPY CUSTOMERS *****************************/

.happyCust{
    width: 100vw;
    padding: 50px 0;
    flex-direction: column;
}
.happyCust__container{
    padding: 20px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}
.happyCust__boxImg{
    position: relative;
}
.happyCust__layer{
    position:absolute;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(rgba(255, 0, 0, 0), rgb(255, 255, 255));
    z-index: 1;
    bottom: 0px;
    left: 0px;
}










